<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>KITKMS Forgot Password</title>
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='img/logo.PNG') }}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/@bootstrapstudio/bootstrap-better-nav/dist/bootstrap-better-nav.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.min.css') }}">
</head>

<body>
    <div class="login-dark" style="background-image:url(&quot; &quot;);background-color:rgb(255,255,255);height:800px;"><small></small>
        <form style="background-color:rgb(255,255,255);width:584px;" method="post">
            <h2 class="sr-only">Login Form</h2>
            <h1 style="color:#c91b00;margin:0px 0px 13px 0px;">KIT Key Management System</h1>
            <p id="welcome" style="color:#4d4f5c;margin:0px 0px 64px 0px;">Enter your email and we send you a password reset link.</p>
            <div class="form-group"><input class="form-control" type="email" style="color:rgb(0,0,0);margin:0px 0px 63.7px 0px;" name="email" placeholder="Email"></div>
            <div class="form-group"><button class="btn btn-primary btn-block" style="background-color:#c91b00;margin:30.8px 0px 0px;" type="submit">Send Request</button><a href="/" class="btn btn-primary btn-block" style="background-color:#c91b00;margin:30.8px 0px 0px 0px;">Back</a></div>
            <a
                class="term" style="font-size:11px;width:140px;color:#c91b00;margin:0px 0px 0px 0px;" href="https://doc-0c-30-apps-viewer.googleusercontent.com/viewer/secure/pdf/v2fbbh2v88fkk2o32jfhmspaasmprsqa/ioa50d3879iee5tpeo8pd452euogbnuo/1567231500000/drive/14950523046048104030/ACFrOgD_xgaf-0QcschjG_A2A5ytJi4wBpjZ3Zw-aSkMDkwLT7gWY_5Veh9ubNchDH31C_3ND2_DeQOezd3m3Ak39uvujBS8LDRzWRMt3HLMlMQXR0yyDWkwcK90Mnc=?print=true&nonce=0t93af5f6fiks&user=14950523046048104030&hash=cj9st5fsfjhr3npvalfpisginmkflgvj">Term of use. Privacy policy</a>
        </form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
    <script src="https://unpkg.com/@bootstrapstudio/bootstrap-better-nav/dist/bootstrap-better-nav.min.js"></script>
</body>

</html>
